*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
}
.stringSection{
    display: flex;
    justify-content: center;
}
.strings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card{
    border: 0 !important;
    width: 100px !important;
    background: transparent;
}
.btn{
    background-color: aqua !important;
    width: 150px !important;
    margin: 20px 0;
}